*{

    
    background-color: rgb(95, 94, 94);
}
h1 {
    color: white;
    border: 20px solid black;
  
    border-radius: 200px;
    text-align: center;
    font-size: 75px;
}

.SideLeft {
    padding-bottom: 200px;
    width: 15%;
    height: 500px;
    background-color: black;
   
    margin-top: 20px;
    margin-left: 10px;
    border: 2px solid black;
    border-radius: 25px;
}
.SideRight {
    width: 15%;
    height: 500px;
    background-color: black;
   
    margin-top: 20px;
    margin-right: 10px;
    border: 2px solid black;
    border-radius: 25px;
}

.Container{


    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    align-items: center;
    gap: 10px;
  
    justify-items: center;
}