* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(95, 94, 94);
}

.SideLeft {
    position: fixed;
    left: 0;
    top: 0;
    width: 15%;
    height: 100vh;
    background-color: black;
     opacity: 0;
     transition: 20s;
}

.SideRight {
    position: fixed;
    right: 0;
    top: 0;
    width: 15%;
    height: 100vh;
    background-color: black;
    opacity: 0;
    transition: 0.5s;
}

.title {
    color: white;
    border: 10px solid black;
    border-radius: 200px;
    text-align: center;
    font-size: 75px;
    width: 500px;
    padding: 10px 40px;
    background-color: black;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.content {
    padding-top: 180px;
    margin-left: 15%;
    margin-right: 15%;
}

.content h2 {
    color: black;
    font-size: 40px;
    background-color: transparent;
}

.SideRight:hover{
   scale: 1.1;
    
    opacity: 1;
}
.SideLeft:hover{
   width: 2000px;
    
    opacity: 1;
}
img {
    width: 100%;
    height: 100%;
}

h3{
    color: white;
    font-size: 20px;
    font-family: sans-serif;
} 
.khabe{
    width: 3%;;
    height: 3%;
}
.khabe:hover{
    width: 100%;
    height: 20000%;
    transition: 5s;
}
